#survey {
  display: none;
}

#surveyResponse {
  display: none;
}

#goodbye {
  display: none;
}

.card-deck {
  padding: 0.5em;
}

.row {
  padding-bottom: 0.5em;
}

.btn-block {
  padding: 0.5em;
}

